/* CSS Document */
/* กำหนดรูปแบบมาตฐานของ Page  */
<<<<<<< HEAD
body
{
    /*font-family:Tahoma, Geneva, sans-serif;*/
    font-family: Lucida Sans Unicode,Lucida Grand, Sans-Serif;
    font-size: 14px;
    padding: 15px;
}
/*กำหนดขนาด Header*/

h1
{
    font-size: 26px;
}
h2
{
    font-size: 24px;
}
h3
{
    font-size: 22px;
}
h4
{
    font-size: 20px;
}
h5
{
    font-size: 18px;
}
h6
{
    font-size: 16px;
}

.font18
{
    font-size: 18px;
}
.font16
{
    font-size: 16px;
}
.font14
{
    font-size: 14px;
}
.font12
{
    font-size: 12px;
}
.bold
{
    font: bold;
}

.fontred
{
    color: #FF0000;
}
.fontCyan
{
    color: #0099CC;
}
.fontBlue
{
    color: #0000CC;
}

/****************************Fommate text****************************/
.txt_star
{
    color: #F00;
    font-size: 18px;
    font: bold;
}
.txt_align_right
{
    text-align: right;
}
.txt_align_left
{
    text-align: left;
}
.txt_align_center
{
    text-align: center;
}
.txt_bg_readonly
{
    background: #EAEAEA;
    color: #999;
}
/***************BOTTON ***********************************/

/*กำหนดขนาด Stype ปุ่ม Add */
input[type="button"].btn_add
{
    margin-left: 5px;
    margin-right: 5px;
    width: 65px;
    height: 30px;
    background-image: url(../img/menu/iconPos/add.png);
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0.5px solid #0099CC;
    text-align: right;
    cursor: pointer;
    float: none;
    clear: both;
}

/*กำหนดขนาด Stype ปุ่ม Add กรณีที่เอาเมาส์วาง */
input[type="button"].btn_add:hover
{
    background-image: url(../img/menu/iconPos/add.png);
    filter: alpha(opacity=50);
    opacity: 0.8;
}

=======
body{ 
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:Lucida Sans Unicode,Lucida Grand, Sans-Serif;
	font-size:14px; 
	padding:15px;
}
/*กำหนดขนาด Header*/

h1{font-size:26px; }
h2{font-size:24px;}
h3{font-size:22px;}
h4{font-size:20px;}
h5{font-size:18px;  }
h6{font-size:16px;}

.font18{
	font-size:18px; 
	}
.font16{
	font-size:16px; 
	}	
.font14{
	font-size:14px; 
	}		
.font12{
	font-size:12px; 
	}		
.bold{
	font:bold; 
	}
.underline1{
	text-decoration: underline;}
.fontgreen{
	color:#060;
	}	
.fontgreen_underline{
	color:#060;
	text-decoration: underline;
	}		
.fontred{
	color:#F00;
	letter-spacing:5px;
	}	
.fontgreen_underline{
	color:#F00
	text-decoration: underline;
	}			
	/****************************Fommate text****************************/
.txt_star{
  	color:#F00;
	font-size:18px; 
	font:bold;
	}
.txt_align_right{
	text-align:right;
	}
.txt_align_left{
	text-align:left;
	}	
.txt_align_center{
	text-align:center;
	}		
.txt_bg_readonly{
	background: #EAEAEA;
    color:#999;
	}	
/***************BOTTON ***********************************/

/*กำหนดขนาด Stype ปุ่ม Add */
input[type="button"].btn_add{
	margin-left: 5px;
	margin-right: 5px;
	padding-left:25px; /*จัดตัวหนังสือให้ห่างจากขอบออกทางด้านซ้าย*/
	width: 100px;
	height: 30px;
	background-image: url(../img/menu/iconPos/add.png);
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0.5px solid #0099CC;
	text-align: center;
	cursor: pointer;
	float: none;
	clear: both;
}

/*กำหนดขนาด Stype ปุ่ม Add กรณีที่เอาเมาส์วาง */
input[type="button"].btn_add:hover{
	background-image:url(../img/menu/iconPos/add.png);
	filter:alpha(opacity=50);
	opacity:0.8;
}

 
/*กำหนดให้มี Pointer เมือมีการนำเมาส์ไปวางที่ปุ่มประเภท Button */
input[type="button"]{
	cursor: pointer;
}

.btn_style1{
	width:120px;
	height:40px;
	font-size:16px;
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0.5px solid #0099CC;
	text-align: center;
	cursor: pointer;
	float: none;
	clear: both;*/
	}
.btn_style2 {
	width:150px;
	height:40px;
	font-size:16px;
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0.5px solid #0099CC;
	text-align: center;
	cursor: pointer;
	float: none;
	clear: both;*/
	}	
	.btn_style3 {
	width:120px;
	height:30px;
	font-size:16px;
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0.5px solid #0099CC;
	text-align: center;
	cursor: pointer;
	float: none;
	clear: both;*/
	}	
.btn_print {
	width:325px;
	height:40px;
	font-size:16px;
	}	
/*กำหนดให้มี ขนาดของปุ้มค้นหา */
input[type="button"]#search{
	width:75px;
	height:40px;
	font-size:16px;
	
}
input[type="button"].searchstyle2{
	width:60px;
	height:30px;
	font-size:14px;
	
}
input[type="button"].searchstyle3{
	width:120px;
	height:30px;
	font-size:14px;
	
}
/*กำหนดให้มี ล้างข้อมูล */
input[type="button"]#clear{
	width:100px;
	height:40px;
	font-size:16px;	
}
/****************TEXT AREA***********************************/
textarea.txt_area_show_scroll{
	margin: 5px;
	height: 150px;
	width: 75%;
	overflow-y: scroll;
	font-size: 14px;
	scrollbar-base-color: orange;
	scrollbar-arrow-color: green;
	scrollbar-DarkShadow-Color: blue
	 }

/************************TEXT***********************************/

/* กำหนด style input textbox ขณะที่เมาส์วาง */
input[type="text"].style_1{
	width:400px;
	height:20px;
	font-size:14px;
}
input[type="text"].txt_style_2{
	width:100px;
	height:20px;
	font-size:14px;
}
input[type="text"].txt_style_3{
	width:200px;
	height:20px;
	font-size:14px;
}

input[type="text"]:hover{
	background-color:#CDDFFE;
}

input[type="text"].txt_readonly{
	background-color:#EAEAEA;
	border: 0.5px solid #CCCCCC;
	color: #CCCCCC;
	width:170px;	height:20px;

}


/*******************************INPUT CHECK****************/
input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
/*******************************INPUT RADIO****************/
input[type="radio"] {
    height: 20px;
    width: 20px;
}
/************************SELECT OPTION ************************/
select.select_join{
	width:350px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size:14px;

}
select.select_style1{
	width:60px;
	height:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size:14px;

}
select.select_readonly{
    background: #EAEAEA;
    color:#999;
    /*text-shadow:0 1px 0 rgba(0,0,0,0.4);*/
}
/************************FIELSET ***********************************/
fieldset.boxleft {
  width:90%;
  height:250px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;

}
fieldset.boxright {
  width:90%;
  border: 0.5px solid #000000;

}
fieldset.boxright2 {
  width:90%;
  border: 0.5px solid #CCCCCC;

}
.fieldset_header{
	color:#06F;
	}

/************************TABLE***********************************/


/*กำหนดรูปแบบการแสดงผลใน Table */
table.tb_showdata, table.tb_showdata td{
	color: #000; 
	border:1px solid #FFFFFF;
	cursor:pointer;
	
>>>>>>> b0c81e4cbb967a152f4ad0b0f82004333cdbeca0

/*กำหนดให้มี Pointer เมือมีการนำเมาส์ไปวางที่ปุ่มประเภท Button */
input[type="button"]
{
    cursor: pointer;
}

.btn_style1
{
    width: 120px;
    height: 40px;
    font-size: 16px;
}
.btn_print
{
    width: 325px;
    height: 40px;
    font-size: 16px;
}
/*กำหนดให้มี ขนาดของปุ้มค้นหา */
input[type="button"]#search
{
    width: 75px;
    height: 40px;
    font-size: 16px;
}
input[type="button"].searchstyle2
{
    width: 60px;
    height: 30px;
    font-size: 14px;
}
<<<<<<< HEAD
input[type="button"].searchstyle3
=======
table.tb_showdata tr:nth-child(even)
>>>>>>> b0c81e4cbb967a152f4ad0b0f82004333cdbeca0
{
    width: 120px;
    height: 30px;
    font-size: 14px;
}
<<<<<<< HEAD
/*กำหนดให้มี ล้างข้อมูล */
input[type="button"]#clear
=======

table.tb_showdata  tr:nth-child(odd)
>>>>>>> b0c81e4cbb967a152f4ad0b0f82004333cdbeca0
{
    width: 100px;
    height: 40px;
    font-size: 16px;
}
<<<<<<< HEAD
/****************TEXT AREA***********************************/
textarea.txt_area_show_scroll
{
    margin: 5px;
    height: 150px;
    width: 50%;
    overflow-y: scroll;
    font-size: 14px;
    scrollbar-base-color: orange;
    scrollbar-arrow-color: green;
    scrollbar-darkshadow-color: blue;
}

/************************TEXT***********************************/

/* กำหนด style input textbox ขณะที่เมาส์วาง */
input[type="text"].style_1
{
    width: 400px;
    height: 20px;
    font-size: 14px;
}
input[type="text"].txt_style_2
{
    width: 100px;
    height: 20px;
    font-size: 14px;
}
input[type="text"].txt_style_3
{
    width: 200px;
    height: 20px;
    font-size: 14px;
}

input[type="text"]:hover
{
    background-color: #CDDFFE;
}

input[type="text"].txt_readonly
{
    background-color: #EAEAEA;
    border: 0.5px solid #CCCCCC;
    color: #CCCCCC;
    width: 170px;
    height: 20px;
}


/*******************************INPUT CHECK****************/
input[type="checkbox"]
{
    height: 20px;
    width: 20px;
}
/*******************************INPUT RADIO****************/
input[type="radio"]
{
    height: 20px;
    width: 20px;
}
/************************SELECT OPTION ************************/
select.select_join
{
    width: 350px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}
select.select_style1
{
    width: 60px;
    height: 30px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}
select.select_readonly
{
    background: #EAEAEA;
    color: #999; /*text-shadow:0 1px 0 rgba(0,0,0,0.4);*/
}
/************************FIELSET ***********************************/
fieldset.boxleft
{
    width: 90%;
    height: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
fieldset.boxright
{
    width: 90%;
}
{
    color: #06F;
}

/************************TABLE***********************************/


/*กำหนดรูปแบบการแสดงผลใน Table */
table.tb_showdata, table.tb_showdata td
{
    color: #000;
    border: 1px solid #FFFFFF;
    
}
table.tb_showdata tr:nth-child(even)
{
    background: #D1EBF1;
    text-align: center;
}
table.tb_showdata tr:nth-child(odd)
{
    background: #C8D6E6;
    text-align: center;
}
table.tb_showdata tr:nth-child(odd)
{
    background: #C8D6E6;
    text-align: center;
}
table.maintable
{
    border: 2px solid #CCCCCC;
}

.tb_center td, .tb_center tr
{
    border: 1px solid #FFFFFF;
}
.tb_boder_white, tb_boder_white td, tb_boder_white tr
{
    color: #000;
    border: 1px solid #FFFFFF;
}
.tb_header, .tb_header td
{
    background-color: #97AECD;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.tb_arrow_down, .tb_arrow_down td, .tb_arrow_down tr
{
    background-repeat: no-repeat;
    background: #C8D6E6; /*	font-weight:bold;*/
    font-size: 16px;
}
.tb_arrow_slide, .tb_arrow_slide td, .tb_arrow_slide tr
{
    background: #EEF2F7;
}

/*	margin-left: 5px;
	margin-right: 5px;
	width: 65px;
	height: 30px;
	background-image: url(../img/menu/iconPos/add.png);
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0.5px solid #0099CC;
	text-align: right;
	cursor: pointer;
	float: none;
	clear: both;*/



/*******Add by Aor  ****/

/*******table ****/
table.tb_solid
{
    border-style: solid;
    border-width: 1.5px;
    border: 1px solid back;
}


/*******readonly ****/
input[type="text"].txt_setReadonly
{
    background-color: #EAEAEA;
    border: 0.5px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 14px;
}




input[type="text"].txt_size15px
{
    width: 15px;
    height: 20px;
}


input[type="text"].txt_size30px
{
    width: 30px;
    height: 20px;
}


input[type="text"].txt_size50px
{
    width: 50px;
    height: 20px;
}

input[type="text"].txt_size75px
{
    width: 75px;
    height: 20px;
}

input[type="text"].txt_size100px
{
    width: 100px;
    height: 20px;
}

input[type="text"].txt_size125px
{
    width: 125px;
    height: 20px;
}

input[type="text"].txt_size150px
{
    width: 150px;
    height: 20px;
}

input[type="text"].txt_size170px
{
    width: 170px;
    height: 20px;
}

input[type="text"].txt_size170px
{
    width: 170px;
    height: 20px;
}

input[type="text"].txt_size175px
{
    width: 175px;
    height: 20px;
}

input[type="text"].txt_size200px
{
    width: 200px;
    height: 20px;
}

input[type="text"].txt_size250px
{
    width: 250px;
    height: 20px;
}

input[type="text"].txt_size300px
{
    width: 300px;
    height: 20px;
}

input[type="text"].txt_size350px
{
    width: 350px;
    height: 20px;
}
input[type="text"].txt_size400px
{
    width: 400px;
    height: 20px;
}

input[type="text"].txt_size450px
{
    width: 450px;
    height: 20px;
}

input[type="text"].txt_size500px
{
    width: 500px;
    height: 20px;
}

input[type="text"].txt_size650px
{
    width: 650px;
    height: 20px;
}

input[type="text"].txt_size780px
{
    width: 780px;
    height: 20px;
}

textarea.txt_area_show_scroll_width75
{
    margin: 5px;
    height: 150px;
    width: 75%;
    overflow-y: scroll;
    font-size: 14px;
    scrollbar-base-color: orange;
    scrollbar-arrow-color: green;
    scrollbar-darkshadow-color: blue;
}
textarea.txt_area_show_scroll_width100
{
    margin: 5px;
    height: 150px;
    width: 100%;
    overflow-y: scroll;
    font-size: 14px;
    scrollbar-base-color: orange;
    scrollbar-arrow-color: green;
    scrollbar-darkshadow-color: blue;
}


/***************************************/
textarea.txt_area_show_scroll_width200px
{
    height: 15px;
    width: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
    scrollbar-base-color: orange;
    scrollbar-arrow-color: green;
    scrollbar-darkshadow-color: #ffffff; /****height: 50px;             overflow-x: hidden;             scrollbar-base-color: #FFFFFF;**/
}

textarea.txtarea_setReadonly
{
    background-color: #EAEAEA;
    border: 0.5px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 14px;
}

div.div_scroll_y
{
    height: 15px;
    width: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
    scrollbar-base-color: orange;
    scrollbar-arrow-color: green;
    scrollbar-darkshadow-color: #ffffff;
}

/*******DDL by Aor  ****/

select.ddl_readonly
{
    background: #EAEAEA;
    color: #999; /*text-shadow:0 1px 0 rgba(0,0,0,0.4);*/
}

select.ddl_60px
{
    width: 60px;
    height: 30px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}
select.ddl_100px
{
    width: 100px;
    height: 30px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}

select.ddl_150px
{
    width: 150px;
    height: 30px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}

select.ddl_200px
{
    width: 200px;
    height: 30px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}

select.ddl_250px
{
    width: 250px;
    height: 30px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}

select.ddl_300px
{
    width: 300px;
    height: 30px;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
}


/*************Button Aor***************/
input[type="button"].btn_search24px
{
    margin-left: 5px;
    margin-right: 5px;
    width: 65px;
    height: 30px;
    background-image: url(../img/menu/must_have_icon_set/Search/Search_24x24.png);
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0.5px solid #0099CC;
    text-align: right;
    cursor: pointer;
    float: none;
    clear: both;
}

input[type="button"].btn_Remove24px
{
    margin-left: 5px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../img/menu/must_have_icon_set/Remove/Remove_24x24.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #0099CC;
    text-align: right;
    cursor: pointer;
    float: none;
    clear: both;
}

input[type="button"].btn_Edit24px
{
    margin-left: 5px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-image: url(../img/menu/must_have_icon_set/Edit/Edit_24x24.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #0099CC;
    text-align: right;
    cursor: pointer;
    float: none;
    clear: both;
}
input[type="button"].btn_close24px
{
    margin-left: 5px;
    margin-right: 5px;
    width: 65px;
    height: 30px;
    background-image: url(../img/menu/iconPos/close.png);
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0.5px solid #0099CC;
    text-align: right;
    cursor: pointer;
    float: none;
    clear: both;
}

input[type="button"].btn_cancel24px
{
    margin-left: 5px;
    margin-right: 5px;
    width: 65px;
    height: 30px;
    background-image: url(../img/menu/iconPos/cancel.png);
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0.5px solid #0099CC;
    text-align: right;
    cursor: pointer;
    float: none;
    clear: both;
}


=======

table.maintable{
	border:2px solid #CCCCCC;
}

.tb_center td,.tb_center tr{
	border:1px solid #FFFFFF;
	
	}
.tb_boder_white,tb_boder_white td,tb_boder_white tr{
	color: #000; 
	border:1px solid #FFFFFF;

}
.tb_header, .tb_header td{
	background-color:#97AECD;
	border:1px solid #FFFFFF;
	font-size:16px;
	font-weight:bold;
	
	}
.tb_arrow_down,.tb_arrow_down td,.tb_arrow_down tr{
	background-repeat: no-repeat;
	background: #C8D6E6;
/*	font-weight:bold;*/
	font-size:14px;
	font-weight:bold;
	}
.tb_arrow_slide,.tb_arrow_slide td ,.tb_arrow_slide tr{
	background: #EEF2F7;
	}
/**************************************ADD icon left ********************************/	
.img_low{
	background-image:url(../img/cc/black/002.gif);
	background-position:right;
	background-repeat:no-repeat;	
	}
.img_slide td,img_slide tr{
	background-image: url(../img/cc/black/001.gif);
	background-position: left center;
	background-repeat: no-repeat;
	}

/*******LINK *******/
.link_blue {
	font-size: 14px;
	color: #09C;
	text-decoration: underline;
	}

/*******HR Border stype**********/

hr {
    border: 0;
    height: 1px;
    background: #333;
   /* background-image: linear-gradient(to right, #ccc, #333, #ccc)*/;
}hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
>>>>>>> b0c81e4cbb967a152f4ad0b0f82004333cdbeca0
